<%= render partial: 'classroom', locals: {classroom: @classroom } %>%

We now want to call out the oldest student in the class:
<% oldest_student = @classroom.students.min_by {|s| s.birthday } %>
<%= render partial: 'students/student', locals: {student: oldest_student} %>

<ul>
  <% @classroom.students.each do |student|%>
    <li>
      <%= render partial: 'students/student', locals: {student: student} %>
    </li>
  <% end %>
</ul>